.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &-button {
    z-index: 11;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background-color: white;
    -webkit-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.25);
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color ease 0.2s;

    &:hover {
      background-color: black;
    }

    &:hover > &-icon {
      color: white;
    }

    &-icon {
      transition: color ease 0.2s;
      color: black;
      font-size: 2rem;
    }
  }

  &-container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
  }
}
