.handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &-container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;

    &-title,
    &-description {
      display: flex;
      align-items: center;
      border: 1px solid rgb(219, 219, 219);
      padding: 1.1rem 1.2rem;
      font-size: 1.125rem;
      margin-bottom: 1rem;
      outline: none;

      &::placeholder {
        font-family: inherit;
        font-size: 1.125rem;
        color: rgb(194, 194, 194);
      }
    }

    &-content {
      min-height: 20rem;
      display: flex;
      align-items: center;
      border: 1px solid rgb(219, 219, 219);
      padding: 1.1rem 1.2rem;
      font-size: 1.125rem;
      margin-top: 2rem;
      outline: none;
      resize: none;
      font-family: inherit;
      line-height: 1.5;
      tab-size: 4;

      &::placeholder {
        font-family: inherit;
        font-size: 1.125rem;
        color: rgb(194, 194, 194);
      }
    }

    &-button {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;

      &-wrapper {
        outline: none;
        border: none;
        background-color: black;
        color: white;
        padding: 0.45rem 0.7rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color ease 0.2s;

        &:hover {
          background-color: rgb(73, 73, 77);
        }
      }
    }
  }
}
